header {
    width: 100%;
    height: 200px;
    background: lightgrey;
}

.header {
    display: inline-block;
    width: 33%;
}

form {
    text-align: right;
    margin-right: 80px;
    margin-top: 80px;
}

.lastnews {
    margin-top: 0;
    height: 100%;
    width: 200px;
    background: dimgray;
    border: 3px solid black;
    border-radius: 0 15px 15px 0;
}

h2 {
    margin-top: 0;
}