* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(38, 38, 38);
}

/* mode sombre
 prochainement via JS*/

header {
    width: 100%;
    height: 200px;
    background: lightgrey;
}


form {
    text-align: right;
    position: absolute;
    left: 80%;
    top: 80px;
}


/* slide */

.slide {
    /* prochainement via JS */
    display: inline-block;
    background: dimgrey;
    height: 300px;
    width: 97.5%;
    margin: 0 20px 0 20px;
}

/* selection bar */

.selection {
    display: inline-block;
    width: 100%;
    height: 40px;
    border: 2px solid black;
    border-radius: 30px;
    background: grey;
}

.selection div {
    width: 24%;
    display: inline-block;
    text-align: center;
    margin-top: 8px;
    border: 2px black;
    border-style: none solid none none;
}

#Random {
    border-style: none ;
}

/* Menu left */

.lastnews {
    display: inline-block;
    margin-top: 0;
    height: 100%;
    width: 400px;
    background: dimgray;
    border: 3px solid black;
    border-radius: 0 0 15px 0;
}

h2 {
    margin-top: 0;
}

ul {
    margin-top: 50px;
    display: inline-block;
}

.last_news {
    height: 100px;
    margin-left: 50px;

}

/* search bar */

#search_bar {
    display: inline-block;
    width: 70%;
    height: 40px;
    border: 2px solid black;
    border-radius: 30px;
    background: lightgray;
}

#search_bar p {
    margin-top: 8px;
    margin-left: 50px;
}
